<!DOCTYPE html>
<html>
    <head>
        <title> Cardboard Live VR </title>
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="icon" href="Cardboard.ico">
    </head>
    <body>
        <div id="container">
            <div id="main">
                <h1 class="index header"> Cardboard Live VR </h1>
                <div id="button">
                    <!-- Add a script with a button saying Get Started, requesting vid streams from backend and starting vid streams -->
                    <a href="viewporttest.html"><img class="button" src="images/get_started.png"; height="68"; width="273"> </a>
                </div>
                <div id="description">
                    <!-- <h3> </h3> Description and stuff-->
                </div>
            </div>
            <div id="images"> 
                <a href="http://www.google.com/get/cardboard/"> <img class="left" src="images/Google_Cardboard_logo.png" width="150" height="150"> </a>
                <a href="http://www.google.com"><img class="right" src="images/Logo_Google_2013_Official.svg.png" width="500" height="172"> </a>
            </div>
            <div id="footer">
                <h2 class="index"> Created by Marcus Barbu and Max Prohorov @ PennApps 2015 </h2>
            </div>
        </div>
    </body>
</html>